@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --linkedin-blue: #0a66c2;
  --internshala-blue: #008bdc;
  --bg-gray: #f3f4f6;
}

body {
  background-color: var(--bg-gray);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}